<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd">

	<context:component-scan base-package="com.springsecure.mvc.security" />
	
    <http auto-config="false" use-expressions="true">
    	<intercept-url pattern="/" access="permitAll" />
    	<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
        
		<!-- access denied page -->
		<access-denied-handler error-page="/403" />
		<form-login
		    default-target-url="/welcome"
			authentication-failure-url="/login?error" 
			username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/login?logout" />
		<!-- enable csrf protection -->
		<csrf />
    </http>
  
    <authentication-manager >
        <authentication-provider user-service-ref="userAuthService">
            <password-encoder hash="bcrypt" />
        </authentication-provider>
    </authentication-manager>

</beans:beans>